{{ define "_update"}}
{{ template "_head"}}

<div class="card">
    <div class="card-header">
        Cuenta
    </div>
    <div class="card-body">
        <form action="/account/mod?id={{.Id}}" method="post">
            <div class="form-group">
                <label for="">Name:</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder=""
                    value="{{.Name}}">
                <small id="helpId" class="form-text text-muted">Nombra tu cuenta</small>
            </div>
            <div class="form-group">
                <label for="">Amount:</label>
                <input type="text" class="form-control" name="amount" id="amount" aria-describedby="helpId"
                    placeholder="" value="{{.Amount}}">
                <small id="helpId" class="form-text text-muted">Pon un monto incial</small>
            </div>
            <div class="form-group">
                <label for="">Comments:</label>
                <textarea class="form-control" name="comment" id="comment" rows="3">{{.Comment}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{{ template "_foot"}}
{{end}}